//  vendors
@import "./vendors/google-fonts";

// utils
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/extends";

// base
@import "./base/global";
@import "./base/typography";

// layout
@import "./layout/loader";
@import "./layout/header";
@import "./layout/footer";
 
// components

@import "./components/button-style1";
@import "./components/button-style2";
@import "./components/heart";
@import "./components/card";
@import "./components/form";


// pages
@import "./pages/homepage";
@import "./pages/restaurant";


