/* # - Heart like gradient ------------------- # */
%heart-gradient{
  background: linear-gradient(
    $gradient-primary-color,
    $gradient-secondary-color
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* # - short-text ------------------- # */

%short-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}