/* flexbox */
@mixin flex(
  $direction: initial,
  $justify: initial,
  $align: initial,
  $gap: initial
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

/* fonts */
@mixin typography($family: $main-font, $size: 16px, $weight: $regular) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
}

/*Media Queries - mobile first*/

@mixin for-size($size) {
  @if $size == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}

@mixin heart-gradient {
  background: linear-gradient(
    $gradient-primary-color,
    $gradient-secondary-color
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
