// # - Colors -------------------------------- # //
// ## -- Badge - colors --------------------- ## //

$badge-primary-color: #99e2d0;
$badge-secondary-color: #008766;

// ## -- Fix me! - Where i'm used ?? -------- ## //

// $color3: #89c8fa;
// $color4: #003a68;

// ## -- Gradient colors -------------------- ## //
// $gradient-primary-color: #9356dc;
$gradient-primary-color: rgba(147, 86, 220)     ;
$gradient-secondary-color: #ff79da;

$gradient-primary-color--light: lighten($gradient-primary-color, 3%);
$gradient-secondary-color--light: lighten($gradient-secondary-color, 3%);
$gradient-secondary-color--dark: darken($gradient-secondary-color, 50%);
// ## -- Background colors ------------------ ## //

$footer-background-color: #353535;
$primary-background-color: #f3f3f3;
$secondary-background-color: #f7f7f7;
$tertiary-background-color: #eaeaea;

// ## -- Fonts colors ------------------ ## //

$footer-font-color: white;
$icon-button-style2-color: #7a7a7a;

// ## -- shadow colors ------------------ ## //
$shadow-color: rgba(0, 0, 0, 0.25);
$shadow-color--dark: rgba(0, 0, 0, 0.35);

// #############################################//

// # - Fonts -------------------------------- # //
// ## -- Main ------------------------------ ## //
$main-font: "Roboto", sans-serif;
// ## -- Titles ---------------------------- ## //
$title-font: "Shrikhand", cursive;
// ## -- weight ---------------------------- ## //
$thin: 300;
$regular: 400;
$semi-bold: 500;
$bold: 700;
