
// # - Colors -------------------------------- # //
// ## -- Highlighting colors ---------------- ## //

$highlight-color: #99e2d0;
$highlight-text-color: #008766;

// ## -- Fix me! - Where i'm used ?? -------- ## //

$color3: #89c8fa;
$color4: #003a68;

// ## -- Gradient colors -------------------- ## //

$gradient-primary-color: #9356dc;
$gradient-secondary-color: #ff79da;

// ## -- Background colors ------------------ ## //

$footer-background-color: #353535;
$primary-background-color: #f3f3f3;
$secondary-background-color: #f7f7f7;
$tertiary-background-color: #eaeaea;
