
.footer {
  @include flex($direction: column, $gap: 16px);
  color: $footer-font-color;
  background-color: $footer-background-color;
  padding: 22px 25px;

  &__list {
    @include flex($direction: column, $gap: 7px);
  }

  &__title {
    height: 27px;
  }

  &__link {
    @include flex($align: center, $gap: 10px);
    height: 19px;

    &--height-20px {
      height: 20px;
    }
  }
}
