// # section localisation
.localisation {
  @include flex(row, center, center, 17px);
  background-color: $tertiary-background-color;
  height: 50px;
}
// # section reservation
.reservation {
  text-align: center;
  @include flex(column, center, center, 0);
  padding-top: 39px;
  padding-bottom: 59px;
  background-color: $primary-background-color;

  &__title {
    margin-bottom: 12px;
    width: calc(100% - 100px);
    min-width: 275px;
  }

  &__content {
    margin-bottom: 27px;
    width: calc(100% - 60px);
    min-width: 315px;
  }
}
// # section guide
.guide {
  @include flex($direction: column, $gap: 26px);
  padding: 48px 20px 68px 20px;
  @include for-size(desktop) {
    @include flex($direction: column, $align: center, $gap: 25px);
  }

  &__title {
    @include for-size(desktop) {
      width: 100%;
      max-width: calc(3 * 335px + 2 * 24px);
    }
  }

  &__buttons-container {
    @include flex($direction: column, $gap: 25px);
    @include for-size(desktop) {
      @include flex($direction: row, $justify: center, $gap: 24px);
      width: calc(100%);
    }
  }
}
// # section restaurants
.restaurants {
  @include flex(column, center, center, 26px);
  background-color: $primary-background-color;
  padding: 57px 17.5px 66px 17.5px;

  @media (min-width: 1440px) {
    padding: 30px 180px;
    align-items: center;
  }

  &__cards-container {
    @include flex(column, center, center, 18px);
    width: 100%;

    @media (min-width: 1440px) {
      max-width: calc(1440px - 180px * 2);
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 50px));
      grid-row-gap: 50px;
      grid-column-gap: 100px;
    }
  }

  &__card-link {
    width: 100%;
    position: relative; // permet le positionnement du badge
  }

  &__title {
    padding-left: 3px;
    width: 100%;

    @media (min-width: 1440px) {
      max-width: calc(1440px - 180px * 2); // keep title and cards align
    }
  }
}
