/* # - Homepage ------------------------------ # */
/* ## -- section localisation ---------------- ## */
.localisation-container {
  @include flex(row, center, center, 17px);
  height: 50px;
  margin: 0 auto;
  background-color: $tertiary-background-color;

  input[type="text"] {
    width: 109px;
    background-color: $tertiary-background-color;
    &:focus::placeholder {
      opacity: 0; //hide placeholder on focus
    }
  }
}
/* ## -- section reservation ----------------- ## */
.reservation {
  text-align: center;
  @include flex(column, center, center, 0);
  padding: 39px 0 59px 0;
  background-color: $primary-background-color;

  &__title {
    margin-bottom: 12px;
    width: calc(100% - 100px);
    min-width: 275px;
  }

  &__content {
    margin-bottom: 27px;
    width: calc(100% - 60px);
    min-width: 315px;
  }
}
/* ## -- section guide ----------------------- ## */
.guide {
  @include flex($direction: column, $gap: 26px);
  padding: 48px 20px 68px 20px;
  background-color: white;
  @include for-size(desktop) {
    @include flex($direction: column, $align: center, $gap: 25px);
  }

  &__title {
    @include for-size(desktop) {
      width: 100%;
      max-width: calc(3 * 335px + 2 * 24px);
    }
  }

  &__buttons-container {
    @include flex($direction: column, $gap: 25px);
    @include for-size(desktop) {
      @include flex($direction: row, $justify: center, $gap: 24px);
      width: calc(100%);
    }
  }
}
/* ## -- section restaurants ----------------- ## */
.restaurants {
  @include flex(column, center, center, 26px);
  background-color: $primary-background-color;
  padding: 54px 17.5px 66px 17.5px;
  @include for-size(desktop) {
    padding-top: 30px;
    margin-top: -1px; // fix loader display bug on 1440px screen
  }

  &__title {
    padding-left: 3px;
    width: 100%;
    max-width: 1080px;
  }

  &__cards-container {
    @include flex(row, center, center, 18px);
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    @include for-size(tablet) {
      gap: 20px;
    }
    @include for-size(desktop) {
      justify-content: space-between;
      gap: 50px;
    }
  }

  &__card-link {
    width: 100%;
    position: relative; // for badge "Nouveau" positionning
    @include for-size(tablet) {
      width: calc((100% - 20px) / 2);
    }
    @include for-size(desktop) {
      width: calc((100% - 50px) / 2);
      max-width: 490px;
    }
  }
}
