.localisation {
  @include flex(row, center, center, 17px);
  background-color: $tertiary-background-color;
  height: 50px;
}

.reservation {
  text-align: center;
  @include flex(column, center, center, 0);
  padding-top: 39px;
  padding-bottom: 59px;
  background-color: $primary-background-color;

  &__title {
    margin-bottom: 12px;
    width: calc(100% - 100px);
    min-width: 275px;
  }

  &__content {
    margin-bottom: 27px;
    width: calc(100% - 60px);
    min-width: 315px;
  }
}

.guide {
  @include flex($direction: column, $gap: 26px);
  padding: 48px 20px 68px 20px;
  @media (min-width: 1440px) {
    @include flex($direction: column, $align: center, $gap: 25px);
    padding: 50px 180px;
  }

  &__title {
    @media (min-width: 1440px) {
      width: calc(3 * 335px + 2 * 24px);
    }
  }

  &__buttons-container {
    @include flex($direction: column, $gap: 25px);
    @media (min-width: 1440px) {
      @include flex($direction: row, $gap: 24px);
      width: calc(3 * 335px + 2 * 24px);
    }
  }
}

.restaurants {
  @include flex($direction: column, $justify: center, $gap: 26px);
  background-color: $primary-background-color;
  padding: 57px 17.5px 66px 17.5px;

  &__cards-container {
    @include flex(column, center, center, 18px);
  }

  &__card-link {
    width: 100%;
  }

  &__title {
    padding-left: 3px;
  }
}
