.restaurant-page {
  background-color: white;
  &__picture {
    object-fit: cover;
    height: 275px;
    width: 100%;
  }
  &__headline {
    margin: -40px auto 0 auto;
    max-width: 1055px;
    @include flex($justify: space-between);
    position: relative;
    padding: 32px 3.4vw 0px 3.4vw;
    background-color: inherit;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    background: $restaurant-page-backgound;
    @include for-size(tablet) {
      padding-right: 225px;
      padding-left: 225px;
    }
    @include for-size(desktop) {
      padding-right: 365px;
      padding-left: 365px;
    }
  }
  &__like-icon-container {
    font-size: 22px;
    width: 24px;
  }
  &__like-icon {
    position: absolute;
    line-height: 41px;
  }
  &__form {
    max-width: 1055px;
    @include for-size(tablet) {
      padding-right: 100px;
      padding-left: 100px;
    }
    @include for-size(desktop) {
      padding-right: 210px;
      padding-left: 210px;
    }
    //animation on label
    label {
      opacity: 0%;
      transform: scaleX(0%);
      transform-origin: right;
      animation: label-appear 100ms ease-out;
      animation-fill-mode: forwards;
      // delay animation loop on form's labels
      @for $i from 10 through 1 {
        &:nth-of-type(#{$i}) {
          animation-delay: $i * 100ms;
        }
      }
     }
  }
}
//animation setup
@keyframes label-appear {
  0% {
    background-color: $badge-secondary-color;
    height: 69px;
  }
  10% {
  }
  50% {
    opacity: 20%;
  }
  80% {
    opacity: 20%;
  }
  99% {
    opacity: 1;
    background-color: $badge-primary-color;
  }

  100% {
    opacity: 1;
    transform: scaleX(100%);
  }
}
