.restaurant-picture {
  object-fit: cover;
  height: 275px;
  width: 100%;
  margin-bottom: -40px;
  z-index: 0;
  // opacity:50%;
}
.restaurant {
  padding: 32px 5px;
  margin: auto;
  max-width: 1055px;
  @include flex($direction: column, $align: center, $gap: 40px);
  z-index: +1;
  background-color: $menu-background-color;
  position: relative;
  border-radius: 40px;
  &__headline {
    width: 100%;
    max-width: 341px;
    @include flex($justify: space-between);
    .heart-container {
      width: 25px;
    }
    .fa-heart {
      line-height: 41px;
      position: absolute;
    }
  }
}
.menu {
  // background-color:salmon;
  width: 100%;
  @include flex($direction: column, $gap: 40px);
  .submenu {
    width: 100%;
    @include flex($direction: column, $gap: 12px);
    &__list {
      @include flex($direction: column, $gap: 12px);
    }
    &__choice {
      @include flex($justify: space-between);
      background-color: white;
      width: 100%;
      height: 69px;
      position: relative;
     
     
      .submenu__selection,
      .submenu__choice-description--price {
        transition: transform 1s;
      }
      .fa-check-circle{
        transition:transform 1s;
      }
      &:hover .submenu__selection {
        z-index:1;
      //  display:flex;
        transform: translateX(0px);
        opacity:1;
      }
    
      &:hover .fa-check-circle {
        transform: rotate(-360deg);
      } 
      &:hover .submenu__choice-description--price{
        transform:translateX(-55px);
        // margin-right:50px;
        padding-left:55px;
      }
    }
    &__content {
      width: 100%;
    }
    &__choice-title {
      @extend %short-text;
    }
    &__lastline {
      width: 100%;
      @include flex();
    }
    &__choice-description {
      @extend %short-text;
    }
    &__choice-description--price {
      padding-right: 0;
      transform:translateX(0);
      margin-left: auto;
    }

    &__selection {
      background: $badge-primary-color;
      border-radius:0 15px 15px 0;
      width: 50px;
      height: 69px;
      @include flex($align:center, $justify:center);
      // position:sticky;
      position: absolute;
      opacity:0;
      right: 0;
      transform: translateX(55px);
      // width:0;
   
      
      
      .fa-check-circle {
        color:white;
        // background: green;
        margin: auto;
        width: 32px;
        height: 32px;
        // line-height: 69px;
        text-align: center;
        transform: rotate(0deg);
        transform-origin: 16px 14.6px;
        // width:0;
      }
    }
  }
}
// .restaurant {
//   // background-color:salmon;
//   margin: auto;
//   position: relative; //usefull to cover restaurant-picture
//   z-index: 1;
//   max-width: 1055px;
//   border-radius: 40px 40px 0 0;
//   background-color: $menu-background-color;
//   padding: 32px 5px; //important for 320px screen
//   @include flex(column, center, center, 40px);

//   .heart-container {
//     width: 25px; //give space for child heart
//   }
//   &__headline {
//     @include flex($direction: row, $justify: space-between);
//     width: 100%;
//     max-width: 341px;
//     // insert heart icon
//     .fa-heart {
//       width: 26px;
//       position: absolute; //supperposion heart for animation
//       line-height: 41px; // center vertically
//     }
//   }
// }
// .menu {
//   padding: 0 13px 0 13px;
//   @include flex(column, center, initial, 40px);
//   width: 100%;
//   .submenu {
//     width: 100%;
//     position: relative;
//     @include flex(column, center, initial, 12px);
//     &__title:after {
//       content: "";
//       display: block;
//       height: 3px;
//       width: 40px;
//       margin-top: 5px;
//       // border: 1px solid $badge-primary-color;
//       background-color: $badge-primary-color;
//     }
//     &__list {
//       @include flex(column, center, initial, 12px);
//     }

//     &__choice {
//       @include flex($direction: row, $justify: space-between);
//       height: 69px;
//       // width: 100%;
//       padding: 0;
//       border-radius: 15px;
//       background-color: white;
//       overflow: hidden;
//       white-space: nowrap;
//       text-overflow: ellipsis;
//     }
//     &__content {

//       padding: 12px 15px 13.5px 15px;
//       @include flex($direction: column, $gap: 5px);
//       width:100%;
//     }
//     &__lastline {
//       @include flex($justify:space-between);
//       width: calc(100%);
//       top: -1.5px;

//     }
//     &__choice-title {
//       @extend %short-text;
//     }
//     &__choice-description {
//       @extend %short-text;
//       // width: 100%;
//     }
//     &__choice-description--price {
//       align-self: flex-end;
//       color: red;

//     }

//     &__selection {
//       @include flex($align: center, $justify: center);
//       background-color: aquamarine;
//       color: white;
//       border-radius: 0 15px 15px 0;
//       width: 50px;
//       height: 69px;

//     }
//   }
// }
