/* # - restaurant page ----------------------- # */
.restaurant-page {
  background-color: white;
  &__picture {
    object-fit: cover;
    height: 275px;
    width: 100%;
  }
  //title and heart icon
  &__headline {
    @include flex($justify: space-between);
    max-width: 1055px;
    position: relative;
    margin: -40px auto 0 auto;
    padding: 32px 3.4vw 0px 3.4vw;
    border-radius: 40px 40px 0 0;
    z-index: 1;
    background: $restaurant-page-backgound;
    @include for-size(tablet) {
      padding-right: 225px;
      padding-left: 225px;
    }
    @include for-size(desktop) {
      padding-right: 365px;
      padding-left: 365px;
    }
  }
  &__like-icon-container {
    font-size: 22px;
    width: 24px;
  }
  &__like-icon {
    position: absolute;
    line-height: 41px;
  }
  //sizing form
  &__form {
    max-width: 1055px;
    @include for-size(tablet) {
      padding-right: 100px;
      padding-left: 100px;
    }
    @include for-size(desktop) {
      padding-right: 210px;
      padding-left: 210px;
    }
    //animation on label
    label {
      opacity: 0%;
      transform: scaleX(0);
      transform-origin: right;
      animation: label-appear 500ms ease-in-out;
      animation-fill-mode: forwards;
      // delay animation loop on form's labels
      @for $i from 10 through 1 {
        &:nth-of-type(#{$i}) {
          animation-delay: $i * 200ms;
        }
      }
    }
  }
}
//animation setup
//label grow from the right with opacity reduction and is fully displayed
@keyframes label-appear {
  0% {
    background-color: $badge-secondary-color;
  }
  51% {
    opacity: 5%;
  }
  95% {
    opacity: 5%;
    background-color: $badge-primary-color;
  }
  100% {
    color: inherit;
    opacity: 1;
    transform: scaleX(1);
  }
}
