/* # Google fonts ---------------------------- # */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/* # - Heart like gradient ------------------- # */
.fas:hover + .far, .fas:focus + .far, .fas:active + .far, .fas {
  background: linear-gradient(rgb(147, 86, 220), #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* # - global parameters --------------------- # */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100%;
  margin: auto;
}

header {
  background: white;
}

footer {
  width: 100%;
  background-color: #353535;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset,
button,
input {
  border: none;
}

:focus {
  outline: none;
}

address {
  font-style: inherit;
}

/* # - Typography ---------------------------- # */
body {
  font-family: "Roboto", sans-serif;
}

.header__logo-txt {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 400;
}

.localisation {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.reservation__content {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.card__like-icon {
  font-size: 22px;
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.card__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
}
.card--new {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.button-style1,
.button-style2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button-style1:active {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}

.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer__link--semi-bold {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.loader {
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: white;
  position: fixed;
  animation: loading 3s;
}
@media (min-width: 768px) {
  .loader {
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .loader {
    gap: 4rem;
  }
}
.loader__img {
  width: 15rem;
}
@media (min-width: 768px) {
  .loader__img {
    width: 22.5rem;
  }
}
@media (min-width: 1024px) {
  .loader__img {
    width: 30rem;
  }
}
.loader__dot {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s 3;
}
@media (min-width: 768px) {
  .loader__dot {
    width: 2.4rem;
    height: 2.4rem;
  }
}
@media (min-width: 1024px) {
  .loader__dot {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.loader__dot:nth-child(1) {
  animation-delay: 100ms;
  background: #008766;
}
.loader__dot:nth-child(2) {
  animation-delay: 200ms;
  background: #99e2d0;
}
.loader__dot:nth-child(3) {
  animation-delay: 300ms;
  background: #89c8fa;
}
.loader__dot:nth-child(4) {
  animation-delay: 400ms;
  background: rgb(147, 86, 220);
}
.loader__dot:nth-child(5) {
  animation-delay: 500ms;
  background: #ff79da;
}

@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading {
  0% {
    z-index: 5;
  }
  70% {
    opacity: 1;
  }
  71% {
    transform: scale(1);
  }
  81% {
    opacity: 0.019;
  }
  99% {
    opacity: 0.001;
    transform: scale(5);
    z-index: 5;
  }
  100% {
    transform: scale(5);
    opacity: 0;
    z-index: -1;
  }
}
/*Header*/
.header {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
}
.header__back-arrow {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 19px;
}
.header__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: initial;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__logo-container--no-shadow {
  box-shadow: none;
}
.header__logo-container--alt-size {
  max-width: 1440px;
}
@media (min-width: 1024px) {
  .header__logo-container {
    height: 96px;
  }
}
@media (min-width: 1440px) {
  .header__logo-txt {
    display: none;
  }
}
.header__logo-img {
  display: none;
}
@media (min-width: 1440px) {
  .header__logo-img {
    display: flex;
    flex-direction: initial;
    justify-content: initial;
    align-items: initial;
    gap: initial;
    width: 200px;
    height: 34.2px;
  }
}

@media (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: initial;
    gap: initial;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 16px;
  width: 100%;
  padding: 22px 25px;
  max-width: 1440px;
  color: white;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: initial;
    align-items: flex-end;
    gap: 0;
    height: 114px;
    padding: 30px 17.5px;
  }
  .footer address .footer__link {
    width: 100px;
  }
}
@media (min-width: 1024px) {
  .footer {
    gap: 16px;
    padding: 30px 25px;
  }
  .footer address .footer__link {
    width: 130px;
  }
}
.footer__title {
  height: 27px;
}
@media (min-width: 768px) {
  .footer__title {
    width: 16%;
    max-width: 139px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 7px;
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 7px;
  }
}
.footer__link {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 10px;
  height: 19px;
  width: 190px;
}
.footer__link--alt-size {
  width: 130px;
}

/* # - Button style 1 ------------------------ # */
.button-style1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(-3.33deg, rgb(147, 86, 220) -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 0;
}
.button-style1::before {
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(-3.33deg, #9b63df -11.44%, #ff88de 123.93%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
}
.button-style1:hover::before, .button-style1:focus::before {
  opacity: 1;
}
.button-style1--sizeM {
  width: 186px;
}

/* # Button style 2 -------------------------- # */
.guide__buttons-container {
  counter-reset: nbButton;
}

.button-style2 {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: initial;
  list-style-type: none;
  counter-increment: nbButton;
  width: 100%;
}
@media (min-width: 1024px) {
  .button-style2 {
    width: 100%;
    max-width: 335px;
  }
}
.button-style2:before {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  content: counter(nbButton);
  z-index: 1;
  background-color: rgb(147, 86, 220);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.button-style2__icon {
  color: #7a7a7a;
}
.button-style2__link {
  margin-left: -12px;
  width: 100%;
  border-radius: 20px;
  padding-left: 24px;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 23px;
  background-color: #f7f7f7;
  height: 72.38px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: box-shadow, border, background-color, 0.5s;
}
.button-style2__link:hover, .button-style2__link:focus, .button-style2__link:active {
  background-color: #f7f7f7;
  box-shadow: 0px 4px 20px rgba(121, 0, 88, 0.17);
}
.button-style2__link:hover .button-style2__icon, .button-style2__link:focus .button-style2__icon, .button-style2__link:active .button-style2__icon {
  color: rgb(147, 86, 220);
}
.button-style2__link:active {
  border: 1px solid rgba(255, 121, 218, 0.1);
}

/* # - Heart icon animation ------------------ # */
.far {
  text-align: center;
  width: 26px;
  color: inherit;
}

.fas {
  text-align: center;
  width: 26px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.fas:hover, .fas:focus, .fas:active {
  opacity: 1;
  cursor: pointer;
}
/* # - Card restaurant ----------------------- # */
.card {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 16px;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow, transform, 0.5s;
}
.card:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.card--new:hover::before {
  box-shadow: 1px 4px 20px rgba(0, 135, 102, 0.3);
}
.card--new:hover::before {
  background-color: #a5e5d5;
}
.card--new::before {
  content: "Nouveau";
  position: absolute;
  right: 3.53%;
  top: 5.18%;
  width: 80px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow, transform, 0.5s;
}
.card__picture {
  border-radius: 15px 15px 0 0;
  height: 174px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 5px;
  padding: 0 25px 0 13px;
}
.card .fa-heart {
  width: 26px;
  position: absolute;
  right: 23px;
  bottom: 32px;
}

/* # - Homepage ------------------------------ # */
/* ## -- section localisation ---------------- ## */
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #eaeaea;
  height: 50px;
}

/* ## -- section reservation ----------------- ## */
.reservation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding-top: 39px;
  padding-bottom: 59px;
  background-color: #f3f3f3;
}
.reservation__title {
  margin-bottom: 12px;
  width: calc(100% - 100px);
  min-width: 275px;
}
.reservation__content {
  margin-bottom: 27px;
  width: calc(100% - 60px);
  min-width: 315px;
}

/* ## -- section guide ----------------------- ## */
.guide {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 26px;
  background-color: white;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 1024px) {
  .guide {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    gap: 25px;
  }
}
@media (min-width: 1024px) {
  .guide__title {
    width: 100%;
    max-width: 1053px;
  }
}
.guide__buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 25px;
}
@media (min-width: 1024px) {
  .guide__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    gap: 24px;
    width: 100%;
  }
}

/* ## -- section restaurants ----------------- ## */
.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  background-color: #f3f3f3;
  padding: 54px 17.5px 66px 17.5px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding-top: 30px;
  }
}
.restaurants__title {
  padding-left: 3px;
  width: 100%;
  max-width: 1080px;
}
.restaurants__cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1080px;
}
@media (min-width: 768px) {
  .restaurants__cards-container {
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .restaurants__cards-container {
    justify-content: space-between;
    gap: 50px;
  }
}
.restaurants__card-link {
  width: 100%;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants__card-link {
    width: calc((100% - 20px) / 2);
  }
}
@media (min-width: 1024px) {
  .restaurants__card-link {
    width: calc((100% - 50px) / 2);
    max-width: 490px;
  }
}

.menu {
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  padding: 32px 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.menu__heart-container {
  width: 25px;
}
.menu__headline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
  gap: initial;
  width: 100%;
  max-width: 341px;
}
.menu__headline .fa-heart {
  width: 26px;
  position: absolute;
  line-height: 41px;
}