/*Header*/

.header {
  @include flex($align: center, $justify:center);
 
  &__back-arrow {
    @include flex($align: center, $justify: center);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 19px;
  }

  &__logo-container {
    @include flex(column, center, center);
    width: 100%;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); //?? to do--> mixin  ??
    position: relative; // for box-shadow visibility
    &--no-shadow {
      box-shadow: none;
    }
    &--alt-size{
      max-width:1440px;
    }
    @include for-size(desktop) {
      height: 96px;
    }
  }

  &__logo-txt {
    @media (min-width: 1440px) {
      display: none; //hide logo version txt
    }
  }
  
  &__logo-img {
    display: none; //hide logo version svg
    @media (min-width: 1440px) {
      @include flex; //show logo version svg
      width: 200px;
      height: 34.2px;
    }
  }
}
