/* # - Button style 1 ------------------------ # */
.button-style1 {
  @include flex(row, center, center, 0);
  width: 218px;
  height: 50px;
  border-radius: 25px;
  color: white;
  background: linear-gradient(
    -3.33deg,
    $gradient-primary-color -11.44%,
    $gradient-secondary-color 123.93%
  );
  box-shadow: 0px 4px 10px $shadow-color;
  position: relative; //permet de positionner le pseudo-element ::before
  z-index: 0; //fixe la position du layer au niveau 0

  // pseudo élément ::before utilisé pour créer une transition fade-in fade-out sur le bouton
  // ressource: https://www.guyom-design.com/blog/astuces/css/degrades-css-transition/
  &::before {
    //reproduit la taille et la forme du parent
    border-radius: inherit;
    display: block;
    height: 100%;
    width: 100%;
    content: ""; //contenu vide
    //gradient éclairci de 3%
    background: linear-gradient(
      -3.33deg,
      $gradient-primary-color--light -11.44%,
      $gradient-secondary-color--light 123.93%
    );
    box-shadow: 0px 4px 15px $shadow-color; //agrandissement de l'ombre de 5px assombrie de 10%
    z-index: -1; //fixe la position du layer sous le bouton
    opacity: 0; //fixe l'opacité de départ à invisible
    transition: opacity 0.5s; //la transition se fera sur l'opacité du pseudo element
    position: absolute; //pas de mofification du flux de la page
    // border: 1px solid black;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1; //passe le pseudo element au dessus du bouton
  }

  &--sizeM {
    width: 186px;
  }
}
