/* # - Heart icon animation ------------------ # */
// empty heart
.restaurant,
.restaurant-page,
.card
//<--- insert here parents containers.
{
  .far {
    text-align: center; //fix truncating
    width: 26px; //fix truncating
    color: inherit;
  }
  // gradient heart
  .fas {
    text-align: center; //fix truncating
    width: 26px; //fix truncating
    @extend %heart-gradient;
    z-index: +1;
    opacity: 0;
    transition: opacity 0.5s;
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      cursor: pointer;
    }
    &:hover + .far,
    &:focus + .far,
    &:active + .far {
      @extend %heart-gradient;
    }
  }
}
