* {
  font-family: $main-font;
}

h1 {
  font-family: $title-font;
}

footer {
  font-size: 16px;
  line-height: 18.75px;

  i {
    font-size: 13px;
  }
}

.footer__title {
  font-family: $title-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.24px;
}

.footer__link--medium-500 {
  font-weight: 500;
}
